DATABASE_URL=postgresql+psycopg://user:mypassword@db:5432/dataprune_db
 # docker = db / local = localhost
TEST_DATABASE_URL=postgresql+psycopg://user:mypassword@localhost:5432/dataprune_test_db

POSTGRES_USER=user
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=dataprune_db





